
<div class="bankid">
  <img src="ember-cli-bankid/bankid_vector_rgb.svg" alt="BankID logotype" class="bankid-img">
  <div class="action-area">
    <div class="bankid-text"><p>Signering</p></div>
    <div class="bankid-buttonarea">
      <button class="auth-sign">BankID på denna enhet</button>
      <button class="auth-sign inverted">BankID på annan enhet</button>
    </div>
    </div>
</div>
